// =============================================================================
// Menu Mobile
// =============================================================================

.menu-mobile {
  color: white;
}

.menu-mobile__toggle {
  position: absolute;
  top: 0;
  right: 0;
}

// Interactive
// =============================================================================

.menu-mobile__content {
  &.closed {
    display: none;
  }

  &.open {
    display: block;
  }
}

// Responsive
// =============================================================================

.menu-mobile {
  @media (min-width: 870px) {
    display: none;
  }
}