.pagination {
  display: flex;
  align-content: flex-start;
}

.pagination__item {}

.pagination__button {
  padding: 0.33em 1.25em;
  background: @color-black-10;
  color: @t-detail;

  &.active {
    background: @color-black-15;
    color: @t-base-color;
  }
}