// .project__item {}


.project__image {
  display: block;
}

.project__name {
  .h4;
  margin-bottom: @base-small-xx;
}

.project__detail {
  .t-detail;
  margin-bottom: @element-margin / 2;
}

// .project__name {}