@t-base: 16px;
@t-base-lh: 1.6em;
@t-base-color: #09143b;

// @t-large-xx:                  55px;
// @t-large-xx-lh:               @t-base-lh;
// @t-large-x:                   40px;
// @t-large-x-lh:                @t-base-lh;
// @t-large:                     24px;
// @t-large-lh:                  @t-base-lh;
// @t-small:                     13px;
// @t-small-lh:                  @t-base-lh;
// @t-small-x:                   11px;
// @t-small-x-lh:                @t-base-lh;

#COLOR.set(@color-bg: F,
  @color-border: F,
  @color-text: T,
  @color-icon: F,
  @color-name: -blue,
  @color-value: @color-blue);

#COLOR.set(@color-bg: F,
  @color-border: F,
  @color-text: T,
  @color-icon: F,
  @color-name: -blue-dark,
  @color-value: @color-blue-dark);

#JS.breakpoint(@element: 'body',
  @breakpoint: ~"screen",
  @content: 'widescreen'
);
#JS.breakpoint(@element: 'body',
  @breakpoint: @desktop,
  @content: 'large'
);
#JS.breakpoint(@element: 'body',
  @breakpoint: @break-primary,
  @content: 'small'
);


// =============================================================================
// Site Specific
// =============================================================================

@g-border-radius: 6px;
@section-padding-v: 30px;
@section-padding-v-small: 20px;

@color-blue: #0da1ec;
@color-blue-dark: #09143b;
@color-orange: #dc4133; // FA6400
@color-accent: @color-orange;
@color-gray-dark: #2a2f36;
@color-gray-dark-x: tint(darken(@color-gray-dark, 3%), 1%);
@color-gray: #9da7b3;