.pagination {
  display: flex;
  justify-content: center;
  margin-top: @element-margin;
}

.pagination__item {}

.pagination__button {
  .btn;
  color: @t-detail;
  // padding: 0.25em 1em;
  // background: @color-gray-light;

  &.active {
    background: darken(@btn-bg, 10%);
    color: @t-base-color;
  }
}