

@section-padding-base: {
  padding-top: @base-large*3;
  padding-bottom: @base-large*3;
  @media @break-primary {
    padding-bottom: @base-large*3;
  }
}

@section-hero-bg: {
  background: linear-gradient(120deg, lighten(#e1f0fb, 2%) 50%, lighten(#e1f0fb, 0%) 50%);
}

// Modifiers
// =============================================================================

.section {
  &.intro {
    background-color: @color-gray-dark;
  }
  &.about {
    background: white url('/images/section--lines.svg') repeat-y center;
    @section-padding-base();
  }
  &.projects {
    background: #f8f8f8 url('/images/section--lines.svg') repeat-y center;
    @section-padding-base();
  }
  &.contact {
    background: @color-gray-dark;
    @section-padding-base();
    color: @color-gray;

    a {
      color: white;
      &:hover {
        color: white;
      }
    }
  }
}


// Elements
// =============================================================================

.section__title {
  text-align: center;
  .h2; 
  .h2__block;
}