.footer {
  // background-color: white;
  @section-base();
  background-color: @color-black-3;
  min-height: 20em;
  background-image: url('/images/section--lines.svg');
  background-position-x: 50%;
  background-repeat: repeat-y;
  &__logo {
    margin: 0 auto;
    width: 423px / 7;
    svg {
      fill: @color-gray-dark;
    }
  }
}