.social-list {
  display: flex;
  justify-content: center;
  li {
    // display: inline;
    // vertical-align: top;
  }
  a {
    display: inline-block;
    vertical-align: -0.9em;
  }
}

.icon-linkedin {

}